body {
  margin: 0;
  font-family: sans-serif;
  background-color: #211a1d; /* Dark background */
  color: #d5be99; /* Light text for readability on dark background */
}
.watch-party-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
  background-color: #211a1d;
}

#moviePlayer {
  margin-bottom: 20px;
  border: 2px solid #4f6f8b;;
  border-radius: 5px;
  width: 100%; /* Make video responsive */
  max-width: 1000px;
  height: auto; 
}

.controls {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  justify-content: center; /* Center the controls */
}

.controls button {
  padding: 12px 20 px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #df4236;
   color: #fff;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}
.controls button:hover{
    background-color: #c8372d;;
}

#progressBar {
  flex: 1;
  margin: 0 10px;
  width: 60%; /* Adjust as needed */
  height: 10px;
  border-radius: 5px;
  background-color: #4f6f8b; /* Progress bar background */
  
  outline: none;
}

#progressBar::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background-color: #df4236; /* Progress bar thumb */
  cursor: pointer;
  border-radius: 50%;
  border: none;
}
#currentTime,
#duration {
  font-size: 0.9em;
  color:#d5be99;
  margin: 0 5px;
}

#chatArea {
  width: 100%;
  height: 150px;
  border: 1px solid #4f6f8b;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  overflow-y: auto;
  background-color: #282124;
  color:#d5be99;
  box-sizing: border-box;
}

#messageInput {
  width: calc(100% - 110px); /* Adjust width based on button width */
  padding: 10px;
  border: 1px solid #4f6f8b;
  border-radius: 5px 0 0 5px;
  margin-right: 0;
  box-sizing: border-box;
  background-color: #282124;
  color: #d5be99;
}
#messageInput::placeholder {
  color: #d5be99;
  opacity: 0.7;
}
#sendBtn {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background-color: #d65147;
  margin-left: 0;
  transition:background-color 0.3s ease;

}
#sendBtn:hover{
    background-color: #c8372d;
}

#participantList {
  width: 100%;
  border: 1px solid #4f6f8b;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  background-color: #282124;
  color:#d5be99;
  box-sizing: border-box;
}

#participantList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#participantList li {
  margin-bottom: 5px;
}